# editor files
.vscode

# rbxl/rbxlx place files
*.rbxl
*.rbxlx

# ...and .lock files used by studio
/*.rbxl.lock
/*.rbxlx.lock

# tools
.luarc
rokit.toml

# testing files
TypeTesting.lua
TypeTestingTwo.lua
TypeTestingThree.lua
TypeTestingFour.lua
